html, body {
  margin:0;
  padding:0;
}
#text {
  font-family:monospace;
  font-size:18px;
  width:50%;
  margin:15px auto;
  padding:10px;
}
#copy, #interact {
  font-family:Helvetica,Arial,sans-serif;
  width:50%;
  margin:20px auto;
}
#button {
  border-color:rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(top, rgba(72,156,234,1) 0%, rgba(31,123,229,1) 100%););
  background: -moz-linear-gradient(top, rgba(72,156,234,1) 0%, rgba(31,123,229,1) 100%);
  background: -o-linear-gradient(top, rgba(72,156,234,1) 0%, rgba(31,123,229,1) 100%);
  background: linear-gradient(top, rgba(72,156,234,1) 0%, rgba(31,123,229,1) 100%);
  border-radius: 3px;
  display:inline-block;
  padding:3px 10px;
  color:#fff;
  text-decoration: none;
}
img {
  width:100%;
  height:auto;
}

/* blinking cursor lifted from CodePen by Artem Gordinsky */
/* http://codepen.io/ArtemGordinsky/pen/GnLBq/ */
.blinking-cursor {
  font-weight: 300;
  font-size: 18px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
